src/Dispatchers/WcfDispatcher/Cliente/Service References/ServiceReference1/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fwk.Bases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fwk.Bases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/WcfDispatcher/Service1/?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ContextInformation">
    <xs:sequence>
      <xs:element name="m_HostName" nillable="true" type="xs:string" />
      <xs:element name="m_HostTime" type="xs:dateTime" />
      <xs:element name="m_ServerName" nillable="true" type="xs:string" />
      <xs:element name="m_ServerTime" type="xs:dateTime" />
      <xs:element name="m_UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContextInformation" nillable="true" type="tns:ContextInformation" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element name="_EntityState" type="tns:EntityState" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_HistoryProperties" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="_IHistory" nillable="true" type="xs:anyType" />
      <xs:element name="mBeingUndone" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:simpleType name="EntityState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Added" />
      <xs:enumeration value="Changed" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityState" nillable="true" type="tns:EntityState" />
</xs:schema>