src/Dispatchers/WcfDispatcher/Cliente/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDispatcher" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDispatcher" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/WcfDispatcher/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Fwk.Bases" />
  <xs:import schemaLocation="http://localhost:8731/WcfDispatcher/Service1/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Fwk.HelperFunctions.Caching" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fwk.Bases" minOccurs="0" name="Context" nillable="true" type="q1:ContextInformation" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Fwk.HelperFunctions.Caching" minOccurs="0" name="Cache" nillable="true" type="q2:CacheSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>