src/Dispatchers/WcfDispatcher/Cliente/Service References/ServiceReference1/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fwk.Bases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fwk.Bases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContextInformation">
    <xs:sequence>
      <xs:element name="m_HostName" nillable="true" type="xs:string" />
      <xs:element name="m_HostTime" type="xs:dateTime" />
      <xs:element name="m_ServerName" nillable="true" type="xs:string" />
      <xs:element name="m_ServerTime" type="xs:dateTime" />
      <xs:element name="m_UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContextInformation" nillable="true" type="tns:ContextInformation" />
</xs:schema>