src/Dispatchers/WcfDispatcher/Cliente/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fwk.HelperFunctions.Caching" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fwk.HelperFunctions.Caching" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/WcfDispatcher/Service1/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Caching" />
  <xs:import schemaLocation="http://localhost:8731/WcfDispatcher/Service1/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Fwk.HelperFunctions" />
  <xs:complexType name="CacheSettings">
    <xs:sequence>
      <xs:element name="_CacheManagerName" nillable="true" type="xs:string" />
      <xs:element name="_CacheOnClientSide" type="xs:boolean" />
      <xs:element name="_CacheOnServerSide" type="xs:boolean" />
      <xs:element name="_ExpirationTime" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Caching" name="_Priority" type="q1:CacheItemPriority" />
      <xs:element name="_RefreshOnExpired" type="xs:boolean" />
      <xs:element name="_ResponseCacheId" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Fwk.HelperFunctions" name="_TimeMeasuresEnum" type="q2:DateFunctions.TimeMeasuresEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CacheSettings" nillable="true" type="tns:CacheSettings" />
</xs:schema>