src/fwk/Fwk.Bases/Blocks/Fwk.Configuration/Web References/ConfigurationWebService/ConfigurationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFileVersionStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pClientVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileVersionStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileVersionStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileVersionStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileVersionStatus" />
  </wsdl:message>
  <wsdl:message name="GetFileVersionStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileVersionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetConfig" />
  </wsdl:message>
  <wsdl:message name="GetConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="ConfigurationServiceSoap">
    <wsdl:operation name="GetFileVersionStatus">
      <wsdl:input message="tns:GetFileVersionStatusSoapIn" />
      <wsdl:output message="tns:GetFileVersionStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <wsdl:input message="tns:GetConfigSoapIn" />
      <wsdl:output message="tns:GetConfigSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigurationServiceSoap" type="tns:ConfigurationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileVersionStatus">
      <soap:operation soapAction="http://tempuri.org/GetFileVersionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <soap:operation soapAction="http://tempuri.org/GetConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigurationServiceSoap12" type="tns:ConfigurationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileVersionStatus">
      <soap12:operation soapAction="http://tempuri.org/GetFileVersionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <soap12:operation soapAction="http://tempuri.org/GetConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="ConfigurationServiceSoap" binding="tns:ConfigurationServiceSoap">
      <soap:address location="http://localhost:1817/Fwk.Configuration.ConfigurationService/ConfigurationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfigurationServiceSoap12" binding="tns:ConfigurationServiceSoap12">
      <soap12:address location="http://localhost:1817/Fwk.Configuration.ConfigurationService/ConfigurationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>