src/FrameworkTools/SecurityAppBlock/CentralizedSecurity.W32.Test/Service References/SecurityReference/Security.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Autenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticateResult" type="tns:LoogonUserResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoogonUserResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogResult" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Autenticated" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Retrive_DomainsUrl">
        <s:complexType />
      </s:element>
      <s:element name="Retrive_DomainsUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retrive_DomainsUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Autenticate" />
  </wsdl:message>
  <wsdl:message name="AutenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticateResponse" />
  </wsdl:message>
  <wsdl:message name="Retrive_DomainsUrlSoapIn">
    <wsdl:part name="parameters" element="tns:Retrive_DomainsUrl" />
  </wsdl:message>
  <wsdl:message name="Retrive_DomainsUrlSoapOut">
    <wsdl:part name="parameters" element="tns:Retrive_DomainsUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="SecuritySoap">
    <wsdl:operation name="Autenticate">
      <wsdl:input message="tns:AutenticateSoapIn" />
      <wsdl:output message="tns:AutenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retrive_DomainsUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna informacion sobre dominios de la empresa</wsdl:documentation>
      <wsdl:input message="tns:Retrive_DomainsUrlSoapIn" />
      <wsdl:output message="tns:Retrive_DomainsUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecuritySoap" type="tns:SecuritySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticate">
      <soap:operation soapAction="http://tempuri.org/Autenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrive_DomainsUrl">
      <soap:operation soapAction="http://tempuri.org/Retrive_DomainsUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecuritySoap12" type="tns:SecuritySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticate">
      <soap12:operation soapAction="http://tempuri.org/Autenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrive_DomainsUrl">
      <soap12:operation soapAction="http://tempuri.org/Retrive_DomainsUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Security">
    <wsdl:port name="SecuritySoap" binding="tns:SecuritySoap">
      <soap:address location="http://localhost:14538/Security.asmx" />
    </wsdl:port>
    <wsdl:port name="SecuritySoap12" binding="tns:SecuritySoap12">
      <soap12:address location="http://localhost:14538/Security.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>