12.0/Fwk/Fwk.Bases.Connector/Service References/WCFServiceReference/item21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fwk.Bases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fwk.Bases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContextInformation">
    <xs:sequence>
      <xs:element name="_AppId" nillable="true" type="xs:string" />
      <xs:element name="_HostIp" nillable="true" type="xs:string" />
      <xs:element name="_HostName" nillable="true" type="xs:string" />
      <xs:element name="_HostTime" type="xs:dateTime" />
      <xs:element name="_ProviderName" nillable="true" type="xs:string" />
      <xs:element name="_ServerName" nillable="true" type="xs:string" />
      <xs:element name="_ServerTime" type="xs:dateTime" />
      <xs:element name="_UserId" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AppId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProviderNameWithCultureInfo_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContextInformation" nillable="true" type="tns:ContextInformation" />
  <xs:complexType name="BaseEntity">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
</xs:schema>