12.0/Fwk/Fwk.Bases.Connector/Service References/WCFServiceReference/item22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDispatcher.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDispatcher.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/WcfDispatcher/FwkService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Fwk.Bases" />
  <xs:import schemaLocation="http://localhost:8732/WcfDispatcher/FwkService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Fwk.Exceptions" />
  <xs:complexType name="WCFRequet">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessData" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fwk.Bases" minOccurs="0" name="ContextInformation" nillable="true" type="q1:ContextInformation" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFRequet" nillable="true" type="tns:WCFRequet" />
  <xs:complexType name="WCFResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessData" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Fwk.Exceptions" minOccurs="0" name="Error" nillable="true" type="q2:ServiceError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFResponse" nillable="true" type="tns:WCFResponse" />
</xs:schema>